<div
  class="flex items-stretch flex-col gap-2 p-4"
  *ngIf="buttonState$ | async as buttonState"
  style="width: 225px"
>
  <button
    mat-raised-button
    color="primary"
    [disabled]="buttonState.countdownButtonIsDisabled"
    (click)="beginCountdown()"
  >
    Begin New Countdown
  </button>
  <button
    mat-raised-button
    [disabled]="buttonState.advanceButtonIsDisabled"
    (click)="advanceOneHour()"
  >
    Advance One Hour
  </button>

  <p>Speed Adjust</p>
  <mat-slider
    thumbLabel
    #timeSlider
    [displayWith]="formatLabel"
    tickInterval="4"
    step="1"
    min="0"
    max="3"
    aria-label="units"
    (change)="onChangeRange(timeSlider.value)"
  ></mat-slider>

  <button
    mat-raised-button
    [disabled]="buttonState.holdButtonIsDisabled"
    (click)="hold()"
  >
    Hold
  </button>

  <button
    mat-raised-button
    [disabled]="buttonState.continueButtonIsDisabled"
    (click)="continueCountdown()"
  >
    Continue
  </button>

  <button
    mat-raised-button
    color="warn"
    [disabled]="buttonState.abortButtonIsDisabled"
    (click)="abort()"
  >
    ABORT
  </button>
</div>
