<mat-card>
  <p>clock</p>
  <!-- <mat-card-title> Countdown Clock </mat-card-title>

  <mat-card-content class="timeState">
    is counting: {{ isCounting }}
    <br />
    is holding: {{ isHolding }}
    <br />
    Time Left:
    <h2 class="timeDisplay">
      {{ timeState$ | async }}
    </h2>
    <div class="sidenav-content">
      <button
        type="button"
        mat-flat-button
        color="accent"
        (click)="drawer.toggle()"
      >
        controls
      </button>
    </div>
  </mat-card-content> -->
</mat-card>
