<mat-card class="bg-gray-900">
  <mat-card-title class="text-indigo-300 text-center">
    Countdown Clock
  </mat-card-title>
  <mat-card-content class="timeState text-center">
    <div class="flex content-start justify-center gap-4">
      <div
        class="text-indigo-300 border-solid border-2 border-blue-400 p-3 m-2"
      >
        is counting:
        <div
          [ngClass]="{
            'text-red-600': !isCounting,
            'text-green-500': isCounting
          }"
        >
          {{ isCounting }}
        </div>
      </div>

      <div
        class="text-indigo-300 border-solid border-2 border-blue-400 p-3 m-2"
      >
        is holding:
        <div
          [ngClass]="{
            'text-red-600': !isHolding,
            'text-green-500': isHolding
          }"
        >
          {{ isHolding }}
        </div>
      </div>
    </div>

    Time Left:
    <h2 class="timeDisplay">
      {{ timeState$ | async }}
    </h2>
  </mat-card-content>
</mat-card>
