<ng-container *ngIf="viewport$ | async as viewport">
  <mat-toolbar class="bg-indigo-200">
    <button
      *ngIf="viewport <= ViewportSize.SM"
      mat-icon-button
      (click)="controls.toggle()"
    >
      <mat-icon>menu</mat-icon>
    </button>
    <span class="flex-1 pl-2 md:pl-0">Wyers Shuttle Launch Emulator</span>
    <a href="https://github.com/pachonga9">
      <button mat-icon-button>
        <mat-icon>link</mat-icon>
      </button>
    </a>
  </mat-toolbar>
  <mat-sidenav-container
    class="flex-1 bg-gradient-to-b from-indigo-900 to bg-indigo-100"
  >
    <mat-sidenav
      class="bg-indigo-100"
      #controls
      [mode]="viewport <= ViewportSize.SM ? 'over' : 'side'"
      [(opened)]="isOpen"
    >
      <app-controls></app-controls>
    </mat-sidenav>
    <div class="p-4 h-full flex flex-col md:flex-row gap-4">
      <app-nasa-announcer class="md:flex-1"></app-nasa-announcer>
      <app-countdown-clock class="md:flex-1"></app-countdown-clock>
      <app-audience class="md:flex-1"></app-audience>
    </div>
  </mat-sidenav-container>
  <div class="text-center mb-auto bg-indigo-200 text-xs">
    <p>Copyright &copy; 2022 James David Wyers</p>
  </div>
</ng-container>
