<mat-toolbar>
  <button mat-icon-button (click)="controls.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <p style="padding-left: 8px">shuttle emulator</p>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav #controls mode="side" opened="true">
    <app-controls></app-controls>
  </mat-sidenav>
  <div class="cardContainer">
    <app-countdown-clock class="countdown-card"></app-countdown-clock>

    <app-nasa-announcer class="announcer-card"></app-nasa-announcer>

    <app-audience class="audience-card"></app-audience>
  </div>
</mat-sidenav-container>
