.flexContainer {
  background-color: orange;
  margin: 0 auto;
  border: 3px solid orange;
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 1200px;
  justify-content: center;
  height: 600px;
  align-items: stretch;
}

.mat-drawer-container {
  background-color: rgb(78, 83, 105);
}
.mat-drawer {
  background-color: rgb(132, 154, 172);
}

.buttonContainer {
  display: flex;
  width: 200px;
  padding: 8px 16px;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  gap: 4px;
}

.cardContainer {
  display: flex;
  gap: 8px;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: nowrap;
  flex-grow: 1;
}

.advanceTimeDiv {
  border: 6px ridge rgb(110, 108, 133);
  text-align: center;
}

.sliderAndLabelDiv {
  border: 3px inset orange;
  margin: 15px;
  background-color: antiquewhite;
}

.slider {
  min-width: 180px;
}

.clockContainer {
  background-color: black;
  color: white;
  text-align: center;
  position: static;
  width: 200px;
}
.announcerContainer {
  background-color: black;
  color: white;
  text-align: center;
  width: 1px;
  flex-grow: 1;
}
.audienceContainer {
  background-color: black;
  color: white;
  text-align: center;
  width: 1px;
  flex-grow: 1;
}
